asgiref==3.8.1
certifi==2025.1.31
charset-normalizer==3.4.1
Django==5.2
facebook-sdk==3.1.0
idna==3.10
oauthlib==3.2.2
pillow==11.1.0
requests==2.32.3
requests-oauthlib==2.0.0
sqlparse==0.5.3
tweepy==4.15.0
tzdata==2025.2
urllib3==2.4.0
